header{
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.logoHeader {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
img {
    width: 15%;
}
h1 {
    font-size: 30px;
    color: #ffff;
}

.navHeader {
    width: 30%;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .link {
        color: #ffff;
        font-size: 20px;
        text-decoration: none;
    }
}

.barraDeBusca {
    border: solid #ffff;
    border-radius: 15px;
    margin-right: 1%;
    width: 23%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: nome;
   

    input {
        background-color: transparent;
        border: none;
        width: 50%;
        height: 5vh;

        &::placeholder {
            color: #fff;
            font-size: 15px;
        }
    }
    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 28%;
        

    }

}

@media (max-width: 780px){
    header {
       flex-direction: column;
       justify-content: space-evenly; 
    }
    .logoHeader {
        width: 90%;

        img {
            width: 15%;
        }
    }
    .navHeader {
        width: 95%;
    }
    .barraDeBusca {
        display: none;
    }
}