.livrosDoadosSection{
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
justify-content: space-around;

    h2{
font-size: 32px;
        
    }
)

    .containerCards{

Widht:95%;
height:60vh;

section{
border: solid 3px #005695;
border: radios 33px
}
}
